@model Capitol_Theatre.Data.PageContent

@{
    ViewData["Title"] = Model.PageKey;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="my-4">@Model.PageKey</h2>

<div class="content-area">
    @Html.Raw(Model.HtmlContent)
</div>
