name: Build and Push to GHCR

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*.*'

env:
  IMAGE_NAME: ghcr.io/bonejob/capitol-theatre

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry
        run: echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u bonejob --password-stdin

      - name: Extract Tag Name
        id: extract_tag
        run: echo "tag=${GITHUB_REF##*/}" >> $GITHUB_OUTPUT

      - name: Build and Push Docker image
        run: |
          docker build -t $IMAGE_NAME:latest -t $IMAGE_NAME:${{ steps.extract_tag.outputs.tag }} .
          docker push $IMAGE_NAME:latest
          docker push $IMAGE_NAME:${{ steps.extract_tag.outputs.tag }}
